* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
  background-color: #222222;
  line-height: 1.5em;
  box-shadow: 0 0 35vh rgba(17,17,17,1) inset;
  -webkit-box-shadow: 0 0 35vh rgba(17,17,17,1) inset;
  -moz-box-shadow: 0 0 35vh rgba(17,17,17,1) inset;
}

.game-bg {
  background-color: #111111;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

iframe {
  border: none;
}
.iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 95vh;
  height: 95vh;
  margin: -47.5vh 0 0 -47.5vh;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}
.iframe iframe {
  width: 100%;
  height: 100%;
}

#device {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #111111;
  transition: 1.25s;
}

#container {
  display: grid; 
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -50vh 0 0 -50vh;
  width: 100vh;
  height: 100vh;
  background-image: none;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  transition: background-image 500s;
}

#homescreen,
#login-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 95vh;
  height: 95vh;
  margin: -47.5vh 0 0 -47.5vh;
  grid-template-rows: repeat(4, 1fr);
  border-radius: 50vh;
  transition: 1000ms;
}

#homescreen {
  background-color: rgba(17,17,17,1);
  box-shadow: 4vh -8vh 3vh rgba(255,235,205,0.5) inset;
  -webkit-box-shadow: 4vh -8vh 3vh rgba(255,235,205,0.5) inset;
  -moz-box-shadow: 4vh -8vh 3vh rgba(255,235,205,0.5) inset;
}

#login-screen {
  background-color: #222222;
  box-shadow: -4vh 8vh 10vh rgba(255,235,205,0.3) inset;
  -webkit-box-shadow: -4vh 8vh 10vh rgba(255,235,205,0.3) inset;
  -moz-box-shadow: -4vh 8vh 10vh rgba(255,235,205,0.3) inset;
}

#logo {
  position: absolute;
  top: 23%;
  width: 95vh;
  height: 15vh;
  margin: 0 auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13.5vh;
  line-height: 13.5vh;
  font-weight: bolder;
  text-align: center;
  color: rgba(255,235,205,1);
  text-shadow: 0 0 2vh blanchedalmond;
  opacity: 0;
  cursor: default;
  z-index: 666;
  transition: 3.5s;
}

#author {
  position: absolute;
  top: 37.7%;
  width: 95vh;
  height: 10vh;
  margin: 0 auto;
  padding-right: 4.5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3.5vh;
  text-align: right;
  color: rgba(222,184,135,0.1);
  text-shadow: 0 0 0.4vh rgba(222,184,135,1);
  opacity: 0;
  cursor: default;
  z-index: 420;
  transition: 5.5s;
}

#one-player,
#two-player,
#reset,
#logout {
  position: relative;
  height: 18vh;
  width: 95vh;
  margin: 0 auto;
  border: 0.65vh dotted rgba(222,184,135,0.5);
  border-radius: 5vh 5vh 10vh 10vh;
  font-family: 'Courier New', Courier, monospace;
  font-size: 8vh;
  cursor: pointer;
}

#one-player,
#two-player {
  visibility: hidden;
}

#one-player {
  top: 50.5%;
  border-bottom: none;
  z-index: 2;
}

#two-player {
  top: 48.5%;
  border-top: none;
  z-index: 1;
}

#login {
  position: relative;
  top: 71.5%;
  width: 85.5vh;
  height: 18vh;
  margin: 0 4.75vh;
  border: 0.65vh dotted rgba(255,235,205,0.1);
  border-radius: 5vh 5vh 15vh 15vh;
  font-family: 'Courier New', Courier, monospace;
  font-size: 8vh;
  text-shadow: 0 0 3vh blanchedalmond;
  cursor: pointer;
}

#reset {
  top: 59%;
  border-bottom: none;
  z-index: 3;
}

#logout {
  top: 57%;
  border-top: none;
  z-index: 2;
}

#login-one,
#login-two,
#you {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  height: 24vh;
  width: 95vh;
  margin: 0 auto;
  padding: 0 10vh;
  background: none;
  border-left: 4vh double blanchedalmond;
  border-right: 1vh solid blanchedalmond;
  border-top: 0.6vh dashed rgba(222,184,135,0.5);
  border-bottom: 0.8vh dashed rgba(222,184,135,0.5);
  border-radius: 15vh;
  font-size: 10vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: burlywood;
  text-shadow: 0 0 0.75vh burlywood;
  box-shadow: 0 0 10vh burlywood inset;
  -webkit-box-shadow: 0 0 10vh burlywood inset;
  -moz-box-shadow: 0 0 10vh burlywood inset;
  transition: 125ms;
}

#login-one:focus,
#login-two:focus,
#you:focus {
  padding: 0;
  padding-left: 5vh;
  border-top: 0.6vh dashed rgba(255,235,205,0.5);
  border-bottom: 0.8vh dashed rgba(255,235,205,0.5);
  box-shadow: 0 0 10vh blanchedalmond inset;
  -webkit-box-shadow: 0 0 10vh blanchedalmond inset;
  -moz-box-shadow: 0 0 10vh blanchedalmond inset;
}

#login-one { top: 11%; }

#login-two { top: 40%; }

#you { top: 40%; }

#greeting {
  position: absolute;
  top: 11%;
  width: 95vh;
  height: 24vh;
  margin: 0 auto;
  padding: 9.5vh 4vh 7.5vh 4vh;
  font-family: 'Courier New', Courier, monospace;
  font-size: 5.5vh;
  line-height: 5.5vh;
  border: 1vh solid blanchedalmond;
  border-top: 0.5vh dotted rgba(222,184,135,0.5);
  border-bottom: 0.5vh dotted rgba(222,184,135,0.5);
  border-radius: 15vh;
  background: none;
  box-shadow: 0.5vh 1vh 10.25vh burlywood inset;
  -webkit-box-shadow: 0.5vh 1vh 10.25vh burlywood inset;
  -moz-box-shadow: 0.5vh 1vh 10.25vh burlywood inset;
  text-align: center;
  cursor: default;
  transition: 2s;
}

#message {
  position: absolute;
  top: 53.5%;
  width: 100vh;
  height: 5.75vh;
  margin: 0 auto;
  background: none;
  color: blanchedalmond;
  font-size: 4.5vh;
  font-family: 'Courier New', Courier, monospace;
  cursor: default;
  transition: 1.5s;
}

#end {
  position: fixed;
  margin: 0 auto;
  width: inherit;
  height: inherit;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  text-align: center;
  transition: 1.5s;
}

[id^='cell-'] {
  background-color: rgba(17,17,17,1);
  color: inherit;
  border: 2px dotted burlywood;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 33vh;
  height: 33vh;
  margin: 0 auto;
  font-size: 24.25vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: blanchedalmond;
  text-shadow: 0 0 1vh blanchedalmond;
  font-weight: bolder;
}

#cell-0x0 {
  border-left: none;
  border-top: none;
}

#cell-0x1 { border-top: none; }

#cell-0x2 {
  border-right: none;
  border-top: none;
}

#cell-1x0 { border-left: none; }

/* cell-1x1 predefined */

#cell-1x2 { border-right: none; }

#cell-2x0 {
  border-bottom: none;
  border-left: none;
}

#cell-2x1 { border-bottom: none; }

#cell-2x2 {
  border-bottom: none;
  border-right: none;
}

#thaddeus,
#robot,
#champ {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 13s;
}

#meow,
#computer,
#champion {
  transition: 15s;
}

#anim-body {
  position: fixed;
  background: radial-gradient(#111111,
                              #111111,
                              #111111,
                              #111111,
                              #111111,
                              #111111,
                              #222222,
                              #111111,
                              #111111,
                              #111111)
                              no-repeat
                              fixed
                              center;
  border-radius: 50vh;
  box-shadow: 0 0 2vh burlywood inset;
}

#glow-barrier,
#glow-barrier-end {
  width: 90vh;
  height: 40.5vh;
  background-color: #222222;
  border: 0.5vh solid rgba(222,184,135,0.5);
  border-left: none;
  border-right: none;
  border-radius: 5vh 5vh 10vh 10vh;
  opacity: 0.85;
  transition: 1s;
}

#glow-barrier {
  position: absolute;
  top: 47%;
  margin: 0 2.5vh;
}

#glow-barrier-end {
  position: absolute;
  top: 55.5%;
  margin: 0 5vh;
}

#meow pre,
#computer pre,
#champion pre {
  position: fixed;
  left: 50%;
  height: 72vh;
  font-family: 'Courier New', Courier, monospace;
}

#meow pre {
  top: 42%;
  width: 74vh;
  margin: -36vh 0 0 -32vh;
  font-size: 2.5vh;
  line-height: 2.9vh;
}

#computer pre {
  top: 42.5%;
  width: 86vh;
  margin: -36vh 0 0 -41.5vh;
  font-size: 2.2vh;
  line-height: 3vh;
}

#champion pre {
  top: 38%;
  width: 63vh;
  margin: -36vh 0 0 -31.5vh;
  font-size: 2.2vh;
  line-height: 3.2vh;
}

#meow pre:not(.active),
#computer pre:not(.active),
#champion pre:not(.active) {
  visibility: hidden;
}

.btn-group-active {
  background-color: burlywood;
  color: #222222;
  box-shadow: 0 0 5.25rem burlywood;
  -webkit-box-shadow: 0 0 5.25rem burlywood;
  -moz-box-shadow: 0 0 5.25rem burlywood;
}

.btn-group-inactive {
  background: none;
  color: burlywood;
  text-shadow: 0 0 0.75rem burlywood;
  box-shadow: 0 0 1.75rem rgba(222,184,135,0.7) inset;
  -webkit-box-shadow: 0 0 1.75rem rgba(222,184,135,0.7) inset;
  -moz-box-shadow: 0 0 1.75rem rgba(222,184,135,0.7) inset;
}

.login-active {
  background-color: rgba(255,235,205,0.1);
  color: rgba(222,184,135,0.6);
}

.login-inactive {
  background: none;
  color: rgba(255,235,205,0.6);
}

.blink {
  background-color: #111111;
  border-color: #222222;
  text-shadow: 0 0 40vh blanchedalmond;
  color: blanchedalmond;
  opacity: 1;
  transition: 500ms;
}

.glow,
.mark {
  color: burlywood;
}

.glow {
  background-color: #111111;
  color: burlywood;
  text-shadow: 0 0 2vh burlywood;
  transition: 250ms;
}

.mark {
  background-color: blanchedalmond;
  transition: 250ms;
}

.dim {
  background: none;
  color: #111111;
}

.blackout {
  text-shadow: 0 0 40vh burlywood;
  background-color: rgba(34,34,34,0.2);
  transition: 1s;
}

.active {
  visibility: visible;
}

@media(hover: hover) and (pointer: fine) {

  #login-one:hover,
  #login-two:hover,
  #you:hover {
    cursor: text;
    opacity: 0.2;
  }

  #login-one:focus,
  #login-two:focus,
  #you:focus {
    opacity: 1;
  }

  .hover {
    border-color: blanchedalmond;
    opacity: 1;
  }
}

@media screen and (orientation: portrait) {

  body {
    box-shadow: 0 0 35vw rgba(17,17,17,1) inset;
    -webkit-box-shadow: 0 0 35vw rgba(17,17,17,1) inset;
    -moz-box-shadow: 0 0 35vw rgba(17,17,17,1) inset;
  }

  #container {
    margin: -50vw 0 0 -50vw;
    width: 100vw;
    height: 100vw;
  }

  #homescreen,
  #login-screen {
    width: 95vw;
    height: 95vw;
    margin: -47.5vw 0 0 -47.5vw;
    border-radius: 50vw;
  }

  #homescreen {
    box-shadow: 4vw -8vw 3vw rgba(255,235,205,0.5) inset;
    -webkit-box-shadow: 4vw -8vw 3vw rgba(255,235,205,0.5) inset;
    -moz-box-shadow: 4vw -8vw 3vw rgba(255,235,205,0.5) inset;
  }
  
  #login-screen {
    box-shadow: -4vw 8vw 10vw rgba(255,235,205,0.3) inset;
    -webkit-box-shadow: -4vw 8vw 10vw rgba(255,235,205,0.3) inset;
    -moz-box-shadow: -4vw 8vw 10vw rgba(255,235,205,0.3) inset;
  }

  #logo {
    width: 95vw;
    height: 15vw;
    font-size: 12.5vw;
    line-height: 12.5vw;
    text-shadow: 0 0 2vw blanchedalmond;
  }

  #author {
    width: 95vw;
    height: 10vw;
    font-size: 3.5vw;
    text-shadow: 0 0 0.7vw rgba(222,184,135,1);
  }

  #one-player,
  #two-player,
  #reset,
  #logout {
    height: 18vw;
    width: 95vw;
    border: 0.65vw dotted rgba(222,184,135,0.5);
    border-radius: 5vw 5vw 10vw 10vw;
    font-size: 8vw;
  }
  
  #login {
    width: 85.5vw;
    height: 18vw;
    margin: 0 4.75vw;
    border: 0.65vw dotted rgba(255,235,205,0.1);
    border-radius: 5vw 5vw 15vw 15vw;
    font-size: 8vw;
    text-shadow: 0 0 3vw blanchedalmond;
  }
  
  #login-one,
  #login-two,
  #you {
    height: 24vw;
    width: 95vw;
    margin: 0 auto;
    padding: 0 10vw;
    border-left: 4vw double blanchedalmond;
    border-right: 1vw solid blanchedalmond;
    border-top: 0.6vw dashed rgba(222,184,135,0.5);
    border-bottom: 0.8vw dashed rgba(222,184,135,0.5);
    border-radius: 15vw;
    font-size: 10vw;
    text-shadow: 0 0 0.75vw burlywood;
    box-shadow: 0 0 10vw burlywood inset;
    -webkit-box-shadow: 0 0 10vw burlywood inset;
    -moz-box-shadow: 0 0 10vw burlywood inset;
  }
  
  #login-one:focus,
  #login-two:focus,
  #you:focus {
    padding-left: 5vw;
    border-top: 0.6vw dashed rgba(255,235,205,0.5);
    border-bottom: 0.8vw dashed rgba(255,235,205,0.5);
    box-shadow: 0 0 10vw blanchedalmond inset;
    -webkit-box-shadow: 0 0 10vw blanchedalmond inset;
    -moz-box-shadow: 0 0 10vw blanchedalmond inset;
  }
  
  #greeting {
    width: 95vw;
    height: 24vw;
    padding: 9.5vw 4vw 7.5vw 4vw;
    font-size: 5.5vw;
    line-height: 5.5vw;
    border: 1vw solid blanchedalmond;
    border-top: 0.5vw dotted rgba(222,184,135,0.5);
    border-bottom: 0.5vw dotted rgba(222,184,135,0.5);
    border-radius: 15vw;
    box-shadow: 0.5vw 1vw 10.25vw burlywood inset;
    -webkit-box-shadow: 0.5vw 1vw 10.25vw burlywood inset;
    -moz-box-shadow: 0.5vw 1vw 10.25vw burlywood inset;
  }

  #message {
    top: 52%;
    width: 100vw;
    height: 5.75vw;
    font-size: 4.5vw;
  }
  
  [id^='cell-'] {
    width: 33vw;
    height: 33vw;
    font-size: 24.25vw;
    text-shadow: 0 0 1vw blanchedalmond;
  }

  #anim-body {
    border-radius: 50vw;
    box-shadow: 0 0 2vw burlywood inset;
  }

  #glow-barrier,
  #glow-barrier-end {
    width: 90vw;
    height: 40.5vw;
    border: 0.5vw solid rgba(222,184,135,0.5);
    border-left: none;
    border-right: none;
    border-radius: 5vw 5vw 10vw 10vw;
  }

  #glow-barrier {
    margin: 0 2.5vw;
  }

  #glow-barrier-end {
    margin: 0 4.5vw;
  }

  #meow pre {
    width: 74vw;
    margin: -36vw 0 0 -32vw;
    font-size: 2.5vw;
    line-height: 2.9vw;
  }

  #computer pre {
    width: 86vw;
    margin: -36vw 0 0 -41.5vw;
    font-size: 2.2vw;
    line-height: 3vw;
  }

  #champion pre {
    top: 38%;
    width: 63vw;
    margin: -36vw 0 0 -31.5vw;
    font-size: 2.2vw;
    line-height: 3.2vw;
  }

  .iframe {
    width: 95vw;
    height: 95vw;
    margin: -47.5vw 0 0 -47.5vw;
  }

  .blink {
    text-shadow: 0 0 40vw blanchedalmond;
  }
  
  .glow {
    text-shadow: 0 0 2vw burlywood;
  }
  
  .blackout {
    text-shadow: 0 0 40vw burlywood;
  }
}
